/*.container{

	width: 650px;

}*/

.login{

	background-color: #f3f3f3;
	height: 200px;

}

.dashboard{

	background-color: #f3f3f3;
	overflow-x: auto;

}

.project{

	background-color: #f3f3f3;

}

.employee{

	background-color: #f3f3f3;

}

.task{

	background-color: #f3f3f3;	

}

.input-field{

	width: 100%;
	border: none;
	border-radius: 5px;
	padding: 5px 10px;
	
}

.error{

	background-color: #f3f3f3;
	font-family: sans-serif;
	color: #db1111;

}